.containerChat{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    height: 0px;
}

.messageDisplay{
    display: flex;
    box-sizing: border-box;
    flex-flow: column-reverse nowrap;
    flex: 9 9 0;
    border: 5px solid grey;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

/* .messageDisplay > :first-child{
    margin-top: auto !important;
} */

.chatMessage{
    color: darkred;
}

.containerChatInput{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 0;
    align-items: center;
}
  
.chatInput{
    width: 100%;
    box-sizing: border-box;
    border-right: 5px solid grey;
    border-left: 5px solid grey;
    border-bottom: 5px solid grey;
    border-top: none;
}

.chatSubmitBtn{
    color: darkblue;
}
